html, body
	margin: 0
	font-family: "Montserrat"

.container
	max-width: 950px
	margin: 0 auto
header
	height: 801px
	background: rgba(0, 0, 0, 0.35) url(../img/bg.png) no-repeat
	background-size: cover
	img
	 width: 140px
	 padding-top: 66px

.menu
	a 
	 text-decoration: none
	 color: #ffffff
	 font-size: 18px
	 font-weight: 500
	 display: flex
	 flex-direction: row
ul
	display: flex
	justify-content: flex-end
	li 
	 padding-right: 30px
	 padding-left: 30px
	 list-style-type: none
.home
	color: #ffffff
	text-align: center
	a
	 font-size: 23px
	 font-weight: 700
	 color: #ffffff
	 text-decoration: none
	 border: 2px solid white
	 border-radius: 5px
	 padding: 18px 59px
h1
	font-size: 32px
	font-weight: 300
	letter-spacing: -0.8px
	padding-top: 160px
h2
	font-size: 66px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: -1.65px
	padding-top: 41px
.web
	padding-top: 100px
	img
	 opacity: 0.1
	 width: 23%
h3
	color: #222222
	font-size: 60px
	font-weight: 300
	span
	 font-weight: 700
	p
	 color: #777777
	 font-size: 18px
	 font-weight: 400
	 padding-bottom: 96px
.web_dev
	display: flex
	align-items: center
	justify-content: space-between
.web_text
	width: 69%
.identity
	height: 440px
	background-color: #fafafa
	img
	 width: 25%
.identity_bra
	display: flex
	align-items: center
	justify-content: space-between
.identity_text
	width: 69%
.skills
	padding-top: 100px
.skills_item
	max-width: 860px
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-around
.item
	width: 50%
	display: flex
	align-items: flex-start
	justify-content: space-between
	img
	 width: 72px
	 padding-right: 20px
	h4
	 color: #222222
	 font-size: 22px
	 font-weight: 500
	 letter-spacing: -0.55px
	p
	 color: #777777
	 font-size: 18px
	 font-weight: 400
	 padding-bottom: 44px
.clients
	padding-top: 100px
	text-align: center
	background-color: #fafafa
	p
	 color: #777777
	 font-size: 22px
	 font-weight: 400
	 letter-spacing: -0.55px
.clients_say
	display: flex
	flex-wrap: wrap
    justify-content: space-between
    align-items: center
	img
	 width: 221px
	 height: 221px
	p
	 color: #7690c5
	 font-size: 20px
	 font-weight: 400
	 line-height: 36px
blockquote
	color: #777777
	font-size: 26px
	font-weight: 400
	letter-spacing: -0.65px
.quote
	border: 1px solid #e8e8e8
